<p id="notice"><%= notice %></p>

<h1>Movie Records</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Poster url</th>
      <th>Plot</th>
      <th>Imbd url</th>
      <th>Wachted</th>
      <th>Imdb rating</th>
      <th>Personal rating</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_records.each do |movie_record| %>
      <tr>
        <td><%= movie_record.title %></td>
        <td><%= movie_record.poster_url %></td>
        <td><%= movie_record.plot %></td>
        <td><%= movie_record.imbd_url %></td>
        <td><%= movie_record.watched %></td>
        <td><%= movie_record.imdb_rating %></td>
        <td><%= movie_record.personal_rating %></td>
        <td><%= movie_record.user %></td>
        <td><%= link_to 'Show', movie_record %></td>
        <td><%= link_to 'Edit', edit_movie_record_path(movie_record) %></td>
        <td><%= link_to 'Destroy', movie_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie Record', new_movie_record_path %>
